/* related product */
.related-section {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
}

.related-title {
  text-align: center;
  text-transform: capitalize;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 0;
  font-weight: 500;
  padding: 0 0 23px;
  color: #212529;
  background: url(../../../../assets/imgs/Seprator.png) no-repeat center bottom;
}

.Products__details {
  overflow: hidden;
  position: relative;
  padding: 50px;
  padding-top: 20px;
}
/* related product */
