.Products__title {
  text-align: center;
  text-transform: capitalize;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 0;
  font-weight: 500;
  padding: 0 0 23px;
  color: #212529;
  background: url(../../../assets/imgs/Seprator.png) no-repeat center bottom;
}

.newArival-section {
  margin-top: 50px;
}
.newArival-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.newArival-section .buyBtn {
  height: 50px;
  margin-top: 30px;
}

@media (min-width: 1024px) {
  .newArival-container .card-btn {
    display: flex;
  }

  .newArival-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
  }
}
