textarea {
  resize: none;
}

/*  details-infoSection */
.details-infoSection {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.nav-tabs {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
}
.nav-tabs {
  gap: 0 !important;
}

.nav-link {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  color: #212121;
  background-color: #fff;
  border: 1px solid #e7e3dc !important;
  margin: 0 !important;
  border-radius: 0 !important;
  height: 50px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  transform: unset !important;
  background-color: #eccbbe !important;
  color: #fff !important;
}

.tab-content {
  padding: 0 !important;
  padding-top: 30px !important;
}

.notice-info {
  color: #666;
}

.notice-product-code {
  color: #212121;
  font-weight: 900;
}

.title-col {
  background-color: #fbf5f3 !important;
  color: #212121;
  font-weight: 900;
}

.transportation-infoCol {
  color: #666;
}

.shipping-time-table {
  padding: 10px;
}

.transportation-Warming {
  background-color: #fbf5f3;
  padding: 10px;
  color: #212121;
  margin-top: 20px;
  margin-bottom: 20px;
}

.question-input-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 900;
  font-size: 18px;
}

.question-input-place {
  height: 150px;
  width: 100%;
  border: solid 1px #66666680;
  padding: 15px;
  text-align: start;
  margin-top: 10px;
}
.question-input {
  width: 100%;
  height: 100%;
  border: none;
}

.question-input-buttons {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.input-btn {
  width: 200px;
  height: 40px;
  border: none;
  transition: all 0.3s;
}

.submit-btn {
  background-color: #eccbbe;
  color: #fff;
}

.input-btn:hover {
  background-color: #e0ab97;
  color: #fff;
}

.answer-container {
  margin-top: 30px;
}

.answer-details-container {
  margin-top: 10px;
  border-top: 2px solid #f0f0f0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 50px;
  width: 100%;
}

.answered-topic {
  font-size: 18px;
  color: #212121;
  font-weight: 900;
}

.question-input:focus-visible {
  outline: unset;
}

.answered-details-question {
  font-size: 14px;
  color: #666;
}

.answered-question-img {
  max-width: 200px;
  aspect-ratio: 1;
  object-fit: cover;
}

.answered-details-contents-controller {
  font-weight: 900;
  font-size: 18px;
  margin-top: 20px;
  color: #e0ab97;
  cursor: pointer;
  width: fit-content;
}

.answered-details-contents {
  margin-top: 10px;
  background-color: #fbf5f3;
  padding: 10px;
  overflow: hidden;
  transition: all 0.5s;
}

.answered-details-subInfo {
  padding: 10px;
  width: 100%;
  border-top: solid 2px #f0f0f0;
  text-align: start;
  font-size: 14px;
}

.answered-details-subInfo:first-child {
  border: unset;
}

.answered-details-subInfo-title {
  color: #666;
}

.answered-details-subInfo-info {
  color: #212121;
  font-weight: 600;
}

.ProductInfo-contents {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*  details-infoSection */
