.aboutSection {
  overflow: hidden;
  background-color: #fbf5f3;
}
.aboutSection__leftContents {
  height: 400px;
  position: relative;
  overflow: hidden;
}

.about-background {
  width: 100%;
  height: 100%;
  position: relative;
  background-size: contain;
  background-repeat: repeat;
  background-image: url(../../../assets/imgs/VivienPro-Hero-03.jpeg);
  background-attachment: fixed;
  filter: blur(3px);
}

.aboutSection-container {
  max-width: 1920px;
  margin: auto;
}

.aboutSection__mainImg {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 60%;
}

.aboutSection__mainImg img {
  max-height: 600px;
  width: 100%;
  z-index: 10;
  object-fit: cover;
  height: 100%;
}

.aboutSection__rightContents {
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.aboutSection__rightContents h5 {
  font-size: larger;
}

.aboutSection__rightContents h2 {
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 20px;
}

.aboutSection__rightContents p {
  font-family: pompiere;
  font-size: large;
  font-weight: 500;
}

.rightContentsBtn {
  align-self: flex-end;
  transition: all 0.5s;
}

.rightContentsBtn a {
  transition: all 0.5s;
  color: #eccbbe;
  font-weight: bolder;
}

.rightContentsBtn:hover a {
  color: #e0ab97;
  text-decoration: underline;
}

@media (min-width: 1024px) {
  .aboutSection__leftContents {
    height: 700px;
    overflow: visible;
  }

  .aboutSection__mainImg {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-5%, -50%);
    height: 600px;
  }

  .aboutSection__mainImg img {
    height: 100%;
  }

  .aboutSection__rightContents {
    padding: 50px;
    padding-top: 75px;
    padding-left: 100px;
  }
}
