.indexCategories-container {
  margin-top: 50px;
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
}

.img-rightContent {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.img-leftContent {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.indexCategories-container img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  transition: all 0.5s;
}

.categories-title {
  margin-top: 50px;
  text-align: center;
  text-transform: capitalize;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 0;
  font-weight: 500;
  padding: 0 0 23px;
  color: #212529;
  background: url(../../../assets/imgs/Seprator.png) no-repeat center bottom;
}

.categories-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: larger;
  background-color: #e0ab9780;
  width: 7rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  cursor: pointer;
  transition: all 1s;
}

.img-rightContent-each:hover .categories-text,
.img-leftContent:hover .categories-text {
  background-color: #e0ab97;
}

.img-rightContent-each:hover img,
.img-leftContent:hover img {
  filter: brightness(75%);
  transform: scale(1.05);
}

.img-rightContent-each {
  width: 100%;
  height: 100%;
  position: relative;
  transition: all 0.5s;
  overflow: hidden;
}

.categories-text-big {
  font-size: xx-large;
  width: 10rem;
  height: 3rem;
  line-height: 3rem;
}

@media (min-width: 1024px) {
  .indexCategories-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
