/* font for logo */
@font-face {
  font-family: Madina;
  src: url(./assets/fonts/Madina.ttf);
}
/* font for logo */

@font-face {
  font-family: pompiere;
  src: url(./assets/fonts/Pompiere-Regular.ttf);
}

@font-face {
  font-family: SoftElegance;
  src: url(./assets/fonts/SoftElegance.ttf);
}

@font-face {
  font-family: commercial;
  src: url(./assets/fonts//Montserrat-Regular.ttf);
}

* {
  box-sizing: border-box;
  font-family: SoftElegance;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #212529;
}

a:hover {
  color: #212529;
}

ul {
  list-style: none;
  color: #212529;
}
